@import "sprite";

a {
  color: red;
  p {
    color: blue;
    transform: rotate(30deg);
  }
}

.test {
  color: red;
}

.icon_account {
  @include sprite($account);
  vertical-align: top;
  display: inline-block;
}

.icon_check_circle {
  @include sprite($check-circle);
  vertical-align: top;
  display: inline-block;
}
.icon_delete {
  @include sprite($delete);
  vertical-align: top;
  display: inline-block;
}
